
body, html {
  height: 100%;
}
body 
{  
background-image: url("https://scontent.fsjo6-1.fna.fbcdn.net/v/t39.30808-6/210492605_1594243157439515_3043762424903479128_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=e3f864&_nc_ohc=qnhlp540pjUAX8_YV9d&_nc_ht=scontent.fsjo6-1.fna&oh=00_AT-3i-eVHzHlLdNwreowhsvQK-DqL0q4qWAOozVD5UiSxA&oe=626BAF76");
background-size: cover;
background-repeat:no-repeat;
background-position:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

h1,h3,h2,h4 {text-align:center;}
 
 h1 {text-shadow: 2px 2px #FF0000;}
 
 p {text-align:right;} 
  .nav {background-color:#FF5050;}

  li {display:inline-block
  ;color:white;font-size:20px;border-style:double
  ;border-width:thick;text-align: center;padding: 14px 16px;text-decoration: none;
}
 
 .nav img {height: 15px;}
 .container {color:#006400;font-family: "Times New Roman", Times, serif;}
  

  .jumbotron {
  background-image: url('https://img.freepik.com/foto-gratis/gaviotas-gaviotas-volando-cielo-azul_79295-10576.jpg?w=740'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}



.boton h3 {
  background-color: #333;
  color: yellow;
  font-family: Florence, cursive;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align:left;
  font-style: italic;
  display: inline-block;
  position:absolute;
  bottom:350px;
  left:16px;
  
  } 

  
 .boton h2 {
  background-color: #333;
  color: yellow;
  font-family: Florence, cursive;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align:left;
  font-style: italic;
  display: inline-block;
  position:absolute;
  bottom:300px;
  left:16px;
  
  } 
  
  .boton h4 {
  background-color: #333;
  color: yellow;
  font-family: Florence, cursive;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align:left;
  font-style: italic;
  display: inline-block;
  position:absolute;
  bottom:250px;
  left:16px;
  
  } 
  
  
.boton p {
  background-color: #333;
  color: yellow;
  font-family: Florence, cursive;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  letter-spacing: -1px;
  display: inline;
  position:absolute;
  bottom:350px;
  left:400px;
 }

   
.boton p1 {
  background-color: #333;
  color: yellow;
  font-family: Florence, cursive;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  letter-spacing: -1px;
  display: inline;
  position:absolute;
  bottom:300px;
  left:400px;
  
  }
 
 
   
.boton p2{
  background-color: #333;
  color: yellow;
  font-family: Florence, cursive;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  letter-spacing: -1px;
  display: inline;
  position:absolute;
  bottom:250px;
  left:400px;
 }
.supporting img {
  height: 32px;
}

.supporting .col  {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 100%;
  }
  .supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

img {width:100%;height:auto;}

footer {font-size:20px;text-align:center;}

